//colors

$color-blue: #12699b;
$color-blue-light: lighten(#12699b, 10%);
$color-gray: lighten(#000, 60%);
$color-gray-bg: #f7f7f7;
$color-gray-bg-darken: #f0f0f0;

$color-red: #e61739;

//fonts
$font-main: Ubuntu, sans-serif;
$font-size-general: 16px;

//bootstrap vars
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1300px
) !default;
