//colors
$color-green: #158c1d;
$color-orange: #d96704;
$color-gray: #4f5f61;
$color-grayLight: #d3dbdc;
$color-dark: #212121;
$color-grayText: #828282;

//fonts
$font-main: Ubuntu, sans-serif;
$font-main-size: 16px;
