.about-grid {
  width: 100%;
  padding: 0;

  &__row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: 450px;
  }

  &__row:nth-child(2n) {
    & div:first-child {
      order: 2;
    }
    & div:last-child {
      order: 1;
    }
  }

  &__item {

  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    width: 100%;
    height: 100%;

    .text-block {
      width: 100%;
      height: 100%;
      padding: 5rem 4rem;

      &__title {
        margin: 0;
        font-size: 1.7em;
        font-weight: normal;
        color: #000000;
      }
      &__subtitle {
        margin: 1rem 0;
        font-size: 1.2em;
        line-height: 1.5em;
        font-weight: 100;
      }

      &--dark {
        background-color: $color-gray;
        .text-block__title, .text-block__subtitle {
          color: #ffffff;
        }
      }
      &--light {
        background-color: $color-grayLight;
        .text-block__title, .text-block__subtitle {
          color: #000000;
        }
      }
    }
  }
}
