section.section.about-grid( class=( aboutGridLine ? 'section--line' : '')  )
    each item in aboutGridList
        .about-grid__row
            .about-grid__item
                img.about-grid__image( src=item.img )
            .about-grid__item
                .about-grid__wrapper
                    .text-block( class="text-block--" + item.cls )
                        if item.title
                            h4.text-block__title #{item.title}
                        p.text-block__subtitle #{item.subtitle}