.to-top {
  //display: none;
  position: fixed;
  z-index: 999;
  right: 25px;
  bottom: 25px;
  transform: translateY(20px);
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0;
  &.show {
    //display: block;
    transform: translateY(0);
    opacity: 1;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    .icon {
      font-size: 50px;
      color: $color-green;
    }
  }
}
