.header {
  padding-top: 2rem;
  background-size: contain;
  background-position: right bottom;
  padding-bottom: 1rem;
  background-image: url("../../assets/img/hbg_100.png");

  &__wrapper {
    justify-content: space-between;
    display: flex;
  }
}

.topmenu {
  display: flex;
  justify-content: space-between;

  &__item {
    a {
      color: $color-blue-light;
      padding-left: 0;
      padding-right: 0;
      font-size: 0.9em;

      &::after {
        content: "/";
        margin-left: 1rem;
        margin-right: 1rem;
        color: lighten($color-gray, 20%);
      }
    }
  }

  &__popup {
    display: flex;
    align-items: center;

    a {
      color: $color-blue-light;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
