header.header.header--static
    .header__wrapper.container
        .header__logo
            a(href="/")
            img(src=logo)
        .header__menu
            ion-icon#topmenu.icon(name="menu-outline")
            ul
                li
                    a.active(href="/") Главная
                li
                    a(href="/about.html") О нас
                li.submenu
                    a(href="/products.html") Наше предложение
                    ul
                        li
                            a(href="rostovye-kukly.html") Ростовые куклы
                        li
                            a(href="suveniry.html") Сувениры для спортклубов
                        li
                            a(href="myagkaya-igrushka.html") Мягкая игрушка
                        li
                            a(href="poligrafiya-i-suveniry.html") Полиграфия и сувениры

                li
                    a(href="/portfolio.html") Портфолио
                li
                    a(href="/contacts.html") Связаться с нами
        .header__contacts
            a.header__btn.btn.btn--orange(href='tel:' + phone_2) #{phone_2}
