.call-to-action {
  padding: 5rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  &__buttons {
  }

  &__btn {
    margin: 1rem;
  }

  &__title {
    color: #ffffff;
  }
}
