.breadcrumbs.container
    span.breadcrumbs__item
        a(href="#") 
            span Ремонт квартир
    span.breadcrumbs__item
        a(href="#") 
            span Ремонт под ключ
    span.breadcrumbs__item
        a(href="#") 
            span Капитальный ремонт

