.promotion {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: -25px;
    right: 12%;
    width: 500px;
    height: 450px;
    padding: 1.5rem 2rem;
    background-color: $color-orange;
    color: #ffffff;
    border-radius: 5px;

    .about & {
      padding: 5rem 2rem;
    }
  }
  &__title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
  }
  &__subtitle {
    margin-top: 1rem;
    text-align: justify;
    font-size: 1em;
    font-weight: 500;
  }
  &__btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
}
