extends ../layouts/default

block variables
  - const headerBg = 'assets/img/sections/bg4.jpg'
  - const headerTitle = 'ИНТЕРЕСНЫЕ РЕШЕНИЯ ДЛЯ ВАШЕГО БРЕНДА'
  - const headerSubtitle = 'Постер Бизнес Гифтс была основана в 1998 году в Санкт-Петербурге, и с тех пор занимается разработкой и поставкой оригинальной сувенирной и представительской продукции, спортивной атрибутики, рекламно-информационных материалов. Наша компания может гордиться долгосрочными партнерскими отношениями с крупными, уважаемыми клиентскими компаниями.'
  - const contentTitle = 'СОПРОВОЖДАЯ БРЕНДЫ'
  - const contentSubtitle = 'Наша компания предлагает комплексные решения для потребностей вашего бренда - от идеи изделия до готового товара и его упаковки. Оптимизация, гибкость и экономия на всей цепочке создания и производства продукции, все для удовлетворения целей и потребностей клиента.'
  - const promo_bg = 'assets/img/sections/videopromotion.jpg'
  - const promo_title = 'МНОГОЛЕТНИЙ ПРОФЕССИОНАЛЬНЫЙ ОПЫТ'
  - const promo_subtitle = 'Сформированная в 1993 году как отдел сувенирной продукции ЗАО Постер и обособившаяся в 1998 году в качестве дочерней компании - ООО Постер Бизнес Гифтс, наша команда стояла у истоков возникновения отечественного рекламного рынка, рынка корпоративной сувенирной продукции и атрибутики. Пожалуй, не найти ни одного офиса крупной компании, где в те или иные времена не была бы представлена продукция, созданная нашими руками или сотворенная нашими идеями.'
  - const promo_buttonText = ''
  - const promo_buttonHref = ''
  - const aboutTextTitle = ''
  - const aboutTextSubtitle = 'Наш офис разместился в особняке, во дворе дома 28 по улице Конная. Улица расположена в исторической части Санкт-Петербурга. Название улицы появилось 7 марта 1880 года и связано с располагавшимся неподалёку Конным рынком (существовал до 1890 года). Одновременно в 1880-е годы улицу называли Ново-Александровской, в 1890-е — Александровской. Конная улица проходит от Полтавской до Исполкомской улицы.'
  -
    const aboutTextList = [
      'assets/img/sections/about/about_1.jpg',
      'assets/img/sections/about/about_2.jpg',
      'assets/img/sections/about/about_3.jpg'
    ]

  - const aboutGridLine = false

  -
    const aboutGridList = [
      {
        img: 'assets/img/grids/grid_1.jpg',
        title: 'ДОБРО ПОЖАЛОВАТЬ В НАШ ШОУРУМ!',
        subtitle: 'Постер Бизнес Гифтс имеет богатый шоу-рум сувенирной продукции. Мы предоставим вам возможность ознакомиться с нашей продукцией, а наши специалисты компетентно ответят на любые возникающие вопросы.',
        cls: 'dark'
      },
      {
        img: 'assets/img/grids/grid_2.jpg',
        title: 'КОМАНДА ПРОФИ!',
        subtitle: 'Наша компания уже более двадцати лет занимается производством и поставкой сувенирной продукции и атрибутики на рынок РФ. За эти годы мы сформировали команду единомышленников -профессионалов. Работая дружным коллективом, мы способны решить практически любую профильную задачу, с которой вы к нам обратитесь, быстро и качественно.',
        cls: 'light'
      }
    ]

block content
  main.about
    include ../../blocks/modules/section-header/section-header
    include ../../blocks/modules/about-content/about-content
    include ../../blocks/modules/video-promotion/video-promotion
    include ../../blocks/modules/about-text/about-text
    include ../../blocks/modules/grid/grid
    include ../../blocks/modules/about-brands/about-brands
