.submenu {
  background: $color-gray-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__menu {
    .menu {
      display: flex;
      list-style-type: none;
      align-items: center;

      &__icon {
        background: $color-red;

        button {
          width: 50px;
          height: 50px;
          background: transparent;
          border: none;
        }

        &:after {
          content: "";
          position: absolute;
          right: -25px;
          width: 0;
          height: 0;
          border-width: 25px 15px 25px 10px;
          border-color: transparent transparent transparent #e61739;
          border-style: solid;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }

      &__item {
        position: relative;
        height: 50px;

        &:before {
          top: 0;
          transform: skew(20deg, 0);
        }

        &:after {
          bottom: 0;
          transform: skew(-20deg, 0);
        }

        a {
          color: darken($color-gray, 10%);
          display: flex;
          align-items: center;
          text-decoration: none;
        }

        &:before, &:after {
          content: "";
          position: absolute;
          right: -25px;
          width: 1px;
          height: 50%;
          background: lighten($color-gray, 20%);
        }
      }

      &__dropdown {
        display: block;
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
        background-image: url(../../assets/img/icons/arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 2px;
        margin-left: 0.5rem;
      }

      li {
        margin-right: 50px;
        display: flex;
        align-items: center;
        position: relative;
        //height: 100%;
      }
    }
  }

  &__socials {
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      height: 100%;

      li {
        margin-left: 0.5rem;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
