.submenu
    .container.submenu__wrapper
        .submenu__menu
            ul.menu
                li.menu__icon
                    ion-icon(name="menu-outline", )
                li.menu__item
                    a(href="#") Ремонт квартир
                    ion-icon.menu__dropdown(name="caret-down-outline" )
                li.menu__item
                    a(href="#") Ремонт под ключ
                    ion-icon.menu__dropdown(name="caret-down-outline" )
                li.menu__item
                    a(href="#") Капитальный ремонт
        .submenu__socials
            ul
                li
                    a(href="#")
                        img(src="assets/img/icons/whatsapp.png" alt="whatsapp")
                li
                    a(href="#")
                        img(src="assets/img/icons/telegram.png" alt="telegram")
                li
                    a(href="#")
                        img(src="assets/img/icons/vk.png" alt="vk")
                li
                    a(href="#")
                        img(src="assets/img/icons/instagram.png" alt="instagram")