section.section.gallery
    p.description Всем известны минусы затяжного ремонта - бесконечные хлопоты, большие затраты и
    | беспорядок повсюду. Избежать такого положения вещей можно заказав ремонт квартир под ключ в
    | СПб в нашей компании. Доверьте преображение своего жилища профессионалам - и Вам не придётся
    | тратить время на поиск узкопрофильных мастеров по отделочным, черновым работам, электромонтажу,
    | сантехнике, установке натяжных потолков, окон и дверей.
    h2.gallery__title
    .gallery__grid
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
        img.gallery__item(src="assets/img/gallery/1.jpg")
    .gallery_btn
        button.c-btn.c-btn--arrow() Загрузить ещё
