.gallery {
  margin-top: 8rem;

  .c-btn {
    padding: 0.7rem 3.5rem;
  }

  &__title {
    margin-top: 3rem;
    font-size: 3em;
    font-weight: 700;
  }

  &__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 60px);
    grid-gap: 2rem;

    .span-2 {
      grid-row: span 2 / auto;
    }
    .span-3 {
      grid-row: span 3 / auto;
    }
    .span-4 {
      grid-row: span 4 / auto;
    }
    .span-5 {
      grid-row: span 5 / auto;
    }


    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  p {
    font-size: 1.3em;
  }
}