section.section.gallery
  .container
    h2.gallery__title #{gallery_title}
    p.gallery__subtitle #{gallery_subtitle}
    .gallery__list.grid
      .grid__box
        a( href='assets/img/gallery/1.jpg' )
          img.grid__item( src='assets/img/gallery/1.jpg' )
        a( href='assets/img/gallery/2.jpg' )
        a( href='assets/img/gallery/3.jpg' )
      .grid__box
        a( href='assets/img/gallery/1.jpg' )
          img.grid__item( src='assets/img/gallery/1.jpg' )
        a( href='assets/img/gallery/2.jpg' )
        a( href='assets/img/gallery/3.jpg' )
      .grid__box
        a( href='assets/img/gallery/1.jpg' )
          img.grid__item( src='assets/img/gallery/1.jpg' )
        a( href='assets/img/gallery/2.jpg' )
        a( href='assets/img/gallery/3.jpg' )
      .grid__box
        a( href='assets/img/gallery/1.jpg' )
          img.grid__item( src='assets/img/gallery/1.jpg' )
        a( href='assets/img/gallery/2.jpg' )
        a( href='assets/img/gallery/3.jpg' )
      .grid__box
        a( href='assets/img/gallery/1.jpg' )
          img.grid__item( src='assets/img/gallery/1.jpg' )
        a( href='assets/img/gallery/2.jpg' )
        a( href='assets/img/gallery/3.jpg' )
      .grid__box
        a( href='assets/img/gallery/1.jpg' )
          img.grid__item( src='assets/img/gallery/1.jpg' )
        a( href='assets/img/gallery/2.jpg' )
        a( href='assets/img/gallery/3.jpg' )