aside.search
    .search__wrapper
        form.search__form.form
            div.form__title Быстрый поиск услуги
            div.form-group
                select.form-control( id="select1" )
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            div.form-group
                select.form-control( id="select2" )
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            div.form-group
                select.form-control( id="select3" )
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            div.form-group
                button.c-btn.c-btn--arrow(type="submit") Подобрать услугу
            a(href="#").form__link Не нашли нужной услуги?

