.search {

  .form {
    &__title {
      font-size: 1.1em;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  .c-btn {
    justify-content: center;
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.2em;
    font-weight: 600;
  }
}
