.about-text {
  padding-top: 7rem;
  
  .img-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    &__item {
      width: 300px;
      height: 200px;
      margin: 0.5rem;
      border: 3px solid $color-orange;
      justify-self: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__wrapper {
    max-width: 700px;
  }

  &__subtitle {
    text-align: justify;
    font-size: 1.1em;
    line-height: 2em;
    color: #000000;
  }
}
