.brands {
  padding-top: 2rem;

  .bx-wrapper {
    border: none;
    box-shadow: none;
  }

  .cards {
    &__img {
      width: 150px;
      filter: grayscale(100%);
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
