extends layouts/default
include helpers/mixins

block variables
    - const slider_bg = 'assets/img/sections/collage_main.jpg';
    - const slider_title = 'ПРОФЕССИОНАЛЬНЫЙ ВЗГЛЯД НА РЫНОК БИЗНЕС-СУВЕНИРОВ ФАН-АТРИБУТИКИ И РЕКЛАМЫ';
    - const slider_subtitle = 'Постер Бизнес гифтс - входит в состав холдинга Постер-групп. Наша команда уже более 20 лет является профессиональным игроком на рынке сувенирных товаров и рекламных услуг. Мы предлагаем разнообразный ассортимент рекламно-сувенирной, представительской продукции, VIP-подарков, разрабатываем и производим фан-атрибутику для спортивных клубов и федераций. Одни из немногих в России, создаем для клиентов мягкие игрушки, маскотов и ростовых кукол высокого качества.';
    - const slider_buttonText = 'Наше предложение';
    - const slider_buttonHref = 'products.html';
    -
        const adv_data = [
            {
                icon: 'assets/img/icons/3.png',
                title: 'МНОГОЛЕТНИЙ ОПЫТ. ЕСТЬ ЧТО ВСПОМНИТЬ. ЕСТЬ ЧТО ПОКАЗАТЬ. ЕСТЬ ЧЕМ ГОРДИТЬСЯ',
                subtitle: 'Постер Бизнес Гифтс профессиональный игрок отрасли с 20-летним стажем. Мы работаем с интересными, целеустремленными клиентами, желающими заявить о себе. Мы не знаем тех задач, которые нельзя решить для достижения амбициозных целей'
            },
            {
                icon: 'assets/img/icons/1.png',
                title: 'МЫ СОБРАЛИ ПРОФЕССИОНАЛОВ ОТРАСЛИ. КРЕАТИВНОСТЬ, ЗНАНИЯ, ОПЫТ',
                subtitle: 'Наша компания объединяет профессионалов: дизайнеров, маркетологов, рекламистов, закупщиков, работников производств - все, чтобы гарантировать своим клиентам свежие, креативные и выполнимые решения для реализации любых их потребностей. Наш опыт -для вас!'
            },
            {
                icon: 'assets/img/icons/4.png',
                title: 'ЛОЯЛЬНОСТЬ НАШИХ ЦЕН. МЫ СТАРАЕМСЯ РАДОВАТЬ НАШИХ КЛИЕНТОВ ВЫГОДНЫМИ ПРЕДЛОЖЕНИЯМИ',
                subtitle: 'Имея давние партнерские отношения с производителями сувенирной продукции как в России, так и в КНР, выработав оптимальные схемы работы и экономии ресурсов, мы можем предложить клиенту с любым бюджетом интересное, конкурентное по цене решение.'
            },
            {
                icon: 'assets/img/icons/2.png',
                title: 'КОМФОРТНОЕ ВЗАИМОДЕЙСТВИЕ',
                subtitle: 'Мы максимально исключаем любые моменты составляющие "головную боль" для клиента. Бухгалтерские документы корректны и в срок, запросы обработаны четко и быстро, вы всегда в курсе статуса вашего заказа. Наше профессиональное внимание - для вас!'
            },
            {
                icon: 'assets/img/icons/5.png',
                title: 'НАШИ ЦЕННОСТИ',
                subtitle: 'Мы любим свою работу. Открыты и готовы делиться идеями, рады совместно их реализовывать - во благо вашего бренда. Стремимся доводить любой проект до максимально идеального состояния. Возможно, за это наши партнеры и клиенты ценят нас. К нам возвращаются.'
            }
        ];
    - const promo_bg = 'assets/img/sections/videopromotion.jpg';
    - const promo_title = 'ПРЕДОСТАВЬТЕ НАМ ВОЗМОЖНОСТЬ ПОКАЗАТЬ, ЧТО МЫ МОЖЕМ СДЕЛАТЬ ДЛЯ ВАШЕГО БРЕНДА';
    - const promo_subtitle = 'Нужна представительская продукция в соответствии с фирменным стилем вашей компании? Новый год? 23 февраля или 8 Марта? Пора дарить корпоративные сувениры коллегам? Необычный VIP-подарок для руководителя или ценного делового партнера? Возможно, вы специалист-закупщик спортивного клуба? Вам нужна интересная линейка качественной клубной сувенирной продукции и атрибутики? Маскот (ростовая кукла -тотем) вашей команды? Мягкие игрушки индивидуального дизайна? Готовые решения для этих и множества иных потребностей в сувенирной и представительской продукции УЖЕ есть у нас.';
    - const promo_buttonText = 'Свяжитесь с нами';
    - const promo_buttonHref = 'contacts.html';
    - const gallery_title = 'У НАС ЕСТЬ БОЛЬШОЙ ОПЫТ РАЗРАБОТКИ И ПРОИЗВОДСТВА РАЗЛИЧНОЙ СУВЕНИРНОЙ, РЕКЛАМНОЙ ПРОДУКЦИИ И ФАН-АТРИБУТИКИ.';
    - const gallery_subtitle = 'Примеры некоторых наших работ вы можете посмотреть ниже.';
    -
        const logos_list = [
            'assets/img/brands/corp/Lukoil.png',
            'assets/img/brands/corp/Sokos.png',
            'assets/img/brands/corp/бош.png',
            'assets/img/brands/corp/главстрой.png',
            'assets/img/brands/corp/зззз.png',
            'assets/img/brands/corp/мдм.png',
            'assets/img/brands/corp/норникель.png',
            'assets/img/brands/corp/политех.png',
            'assets/img/brands/corp/северсталь.png'
        ];
    - const call_bg = 'assets/img/sections/videopromotion.jpg';
    - const call_title = 'У НАС ЕСТЬ РЕШЕНИЯ ДЛЯ ВАШИХ ПОТРЕБНОСТЕЙ В СУВЕНИРНОЙ ПРОДУКЦИИ!';
    - const call_btnText = 'Подробнее';
    - const call_btnHref = 'products.html';
block content
    main
        include ../blocks/modules/main-header/main-header
        include ../blocks/modules/advantages/advantages
        include ../blocks/modules/video-promotion/video-promotion
        include ../blocks/modules/gallery/gallery
        include ../blocks/modules/brands/brands
        include ../blocks/modules/call-to-action/call-to-action

