section.section.main
    h1
        strong Капитальный ремонт «под ключ»
        br
        | в Санкт-Петербурге
    p.letter
        | Всем известны минусы затяжного ремонта - бесконечные хлопоты, большие затраты и
        | беспорядок повсюду. Избежать такого положения вещей можно заказав ремонт квартир
        | под ключ в СПб в нашей компании. Доверьте преображение своего жилища профессионалам - и
        | Вам не придётся тратить время на поиск узкопрофильных мастеров по отделочным, черновым работам,
        | электромонтажу, сантехнике, установке натяжных потолков, окон и дверей. Все эти задачи, а также
        | разработку дизайн-проекта, закупку и доставку материалов, и прочие функции возьмут на себя
        | опытные специалисты компании «Грунт-Зона».
