.main-header {
  display: flex;
  align-items: center;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  .card {
    display: grid;
    z-index: 1;
    grid-template-columns: 55% 45%;
    &__wrapper {
      color: #ffffff;
    }
    &__title {
      font-size: 2.5em;
    }
    &__subtitle {
      font-size: 1em;
      line-height: 1.5em;
    }
    &__btn {
    }
  }
}
