section.section.main-header(style="background-image: url(" + slider_bg + ")")
  .section__overlay
  .container
    .row
      .col-md-6.main-header__wrapper
        h1.main-header__title #{slider_title}
        p.main-header__subtitle #{slider_subtitle}
        a.main-header__btn.btn.btn--white(href=slider_buttonHref) #{slider_buttonText}
