section.main-header.section(style="background-image: url('" + slider_bg + "')")
  .section__overlay
  .card.container
    .card__wrapper
      h1.card__title #{slider_title}
      p.card__subtitle #{slider_subtitle}
      a.card__btn.btn.btn--white( href=slider_buttonHref ) #{slider_buttonText}