.advantages {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
  }
  &__icon {
    width: 50px;
    height: 50px;
  }
  &__hr {
    width: 100%;
    height: 3px;
    margin: 0.5rem 0 0 0;
    background: $color-green;
  }
  &__title {
    margin-top: 0.5rem;
    font-size: 1.2em;
    height: 5em;
    color: #000000;
  }
  &__subtitle {
    margin-top: 0.5rem;
    text-align: justify;
    font-size: 1em;
    color: $color-grayText;
  }
}
