section.section.section--line-arrow.advantages
  .container
    .advantages__wrapper
      each val in adv_data
        .advantages__card
          img.advantages__icon(src=val.icon)
          hr.advantages__hr
          h4.advantages__title #{val.title}
          p.advantages__subtitle #{val.subtitle}
