.section-header {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    //justify-content: start;
    //align-items: center;
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2.2em;
    color: #ffffff;
  }
  &__subtitle {
    margin-top: 1rem;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #ffffff;
  }
}
