section.section.section-header(style="background-image: url('" + headerBg + "')")
    .section__overlay
    .section-header__wrapper.container
        h1.section-header__title #{headerTitle}
        p.section-header__subtitle #{headerSubtitle}