.content {
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__wrapper {
    max-width: 600px;
  }
  &__title {
    margin: 1rem 0;
    text-align: left;
    font-size: 1.8em;
  }
  &__hr {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    border: none;
    background-color: $color-grayLight;
  }
  &__subtitle {
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
    color: $color-grayText;
  }
}