.c-btn {
  background: $color-red;
  border: none;
  border-radius: 8px;
  color: #ffffff;

  &--arrow {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      background-image: url("../../assets/img/icons/arrow_long.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      margin-top: 5px;
      margin-left: 0.5rem;

    }
  }
}
