.c-btn {
  display: inline-block;
  position: relative;
  border: 1px solid $color-orange;
  padding: 1rem 3rem;

  transition: all 0.4s;
  background: $color-orange;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;

  font-size: 1em;
  text-align: center;

  font-weight: 500;

  &:hover {
    background: transparent;
    text-decoration: none;
  }

  &--white {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;

    &:hover {
      color: #000000;
      background: #ffffff;
    }
  }

  &--green {
    border: 1px solid $color-green;
    color: #ffffff;
    background: $color-green;

    &:hover {
      border: 1px solid #ffffff;


      background: transparent;
      color: #ffffff;
    }
  }
}
