h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: $color-orange;
}

::-webkit-scrollbar-thumb {
  background-color: $color-orange;
}

* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 100%;
}
body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: $font-main-size;
  overflow-x: hidden;
  font-family: $font-main;
  background: #ffffff;
}
nav, ul {
  list-style-type: none;
  margin: 0;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 5rem;
  z-index: 0;

  &.text {
    padding-top: 5rem;
    padding-bottom: 5rem;
    p {
      font-size: 1.2em;
      font-weight: 100;
      line-height: 1.5em;
      text-align: justify;
    }
  }

  &.line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding-top: 0;
    padding-bottom: 0;
    background: $color-orange;

    h2 {
      font-size: 1.8em;
      font-weight: 100;
      color: #ffffff;
    }
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  &--line {
    border-top: 7px solid $color-orange;
  }
  &--line-arrow {
    display: flex;
    justify-content: center;
    position: relative;
    border-top: 7px solid $color-orange;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0;
      border-color: $color-orange transparent transparent;
    }
  }
}

a.link {
  transition: all 0.2s;
  &:hover {
    color: $color-orange;
    text-decoration: none;
  }
}

.centered {
  text-align: center;
}

