h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size-base;
}

.logo {
  display: flex;
  width: 250px;

  &__img {
    width: 60px;
    height: 50px;
    margin-right: 1rem;
  }
  // &__text {
  // }
  &__name {
    display: block;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1em;
    color: $color-blue;
    text-transform: uppercase;
  }
  &__tagline {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 0.9em;
    color: #000;
    text-transform: lowercase;
  }
}

.contacts {
  display: flex;

  &__mail,
  &__phone {
    & * {
      display: block;
    }
  }
  &__mail {
    margin-right: 1rem;
    text-align: right;
  }
  &__link {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    color: $color-blue-light;
  }
  &__text {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.1em;
    color: #000;
  }
  &__phones {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    background-image: url("../../assets/img/icons/phone.png");
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
  }
  &__desc {
    margin-top: 0.5rem;
    font-size: 0.9em;
    text-align: right;
    color: $color-gray;
    &--light {
      font-size: 1em;
      font-weight: 100;
      color: lighten($color-gray, 10%);
    }
  }
}
