@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  // HEADER
  .header {
    &__wrapper {
      grid-template-columns: 16% 1fr 16%;
    }
    &__logo {
      img {
        width: 120px;
      }
    }
    &__btn {
      width: 150px;
      padding: 0.6rem 0.5rem;
    }
  }

  //SLIDER
  .slider {
    .card {
      &__title {
        font-size: 2em;
      }
      &__subtitle {
        font-size: 0.9em;
      }
    }
  }

  // ADV
  .advantages {
    &__wrapper {
      padding: 0 2rem;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    &__title {
      height: 5.5rem;
    }
  }

  // PROMOTION
  .promotion {
    display: flex;
    justify-content: center;
    height: 350px;

    &__wrapper {
      position: static;
      height: 400px;
      margin: -25px;
    }
    &__title {
      font-size: 1.3em;
    }
    &__subtitle {
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }

  // GRID
  .about-grid {
    &__row {
      grid-template-rows: 350px;
    }

    &__wrapper {
      .text-block {
        padding: 4rem 3rem;

        &__title {
          font-size: 1.5em;
        }
        &__subtitle {
          font-size: 1em;
        }
      }
    }
  }

  // Brands
  .about-brands {
    .brands {
      &__wrapper {
      }
      &__img {
        width: 80px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  // SECTIONS
  .section {
    padding-top: 5rem;
  }
  // HEADER
  .header {
    position: relative;
    height: 60px;
    background: #ffffff;
    &__wrapper {
      display: grid;
      align-items: center;
      width: 100%;
      grid-template-columns: 1fr 200px 50px;
      grid-template-rows: 1fr;
      gap: 1px 1px;
    }
    &__logo {
      padding-top: 1rem;
      padding-bottom: 1rem;
      justify-self: flex-start;
    }
    &__btn {
    }
    &__menu {
      justify-content: flex-end;
      order: 3;
      .icon {
        display: block;
      }
      ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding: 0;
        background: #ffffff;
        border-top: 1px solid #eeeeee;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12);

        animation-duration: 4ms;

        .open & {
          height: 350px;
          padding: 1rem 2rem;
        }

        li {
          margin-top: 1rem;

          &.submenu {
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
              &.open {
                height: 100%;
                padding: 0;
              }
              display: flex;
              align-items: center;
              position: static;
              height: 100%;
              padding: 0;
              box-shadow: none;
              a {
                font-size: 0.7em;
                &:hover {
                  color: $color-orange;
                }
              }
            }
          }

          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            color: #000000;
            &:after {
              border-bottom: none;
            }
          }
        }
      }
    }
    &.fixed {
    }
  }

  // PROMOTION
  .promotion {
    display: flex;
    justify-content: center;
    height: 350px;
    padding: 0;

    &__wrapper {
      position: static;
      height: 400px;
      margin: -25px;
    }
    &__title {
      font-size: 1.3em;
    }
    &__subtitle {
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }

  .about-text {
    padding-top: 5rem;
    &__wrapper {
      //max-width: 700px;
    }

    &__subtitle {
      //text-align: justify;
      //font-size: 1.1em;
      //line-height: 2em;
      //color: #000000;
    }

    &__cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      img {
        width: 250px;
        height: 180px;
        border: 3px solid $color-orange;
        justify-self: center;
      }
    }
  }

  // Brands
  .about-brands {
    .brands {
      &__wrapper {
      }
      &__img {
      }
    }
  }

  .to-top {
    display: none;
  }
}
/* */

@media screen and (max-width: 769px) {
  //SLIDER
  .slider {
    .card {
      grid-template-columns: 1fr;
      &__title {
        font-size: 1.8em;
      }
      &__subtitle {
        font-size: 0.9em;
      }
    }
  }

  // FOOTER
  .footer {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &__socials {
      justify-self: center;
    }
  }

  // GRID
  .about-grid {
    &__row {
      grid-template-rows: 250px;
    }

    &__wrapper {
      .text-block {
        padding: 2rem 1rem;

        &__title {
          font-size: 1.2em;
        }
        &__subtitle {
          font-size: 0.8em;
        }
      }
    }
  }

  .products-grid {
    &__item {
      width: 300px;
      &.img {
        max-width: 300px;
      }
    }
    &__wrapper {
      .text-block {
        padding: 3rem 1rem;
        &__title {
          font-size: 1.3em;
        }
      }
    }
  }

  .call-to-action {
    h2 {
      text-align: center;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // Brands
  .about-brands {
    .brands {
      &__wrapper {
        justify-content: center;
      }
      &__img {
        width: 70px;
      }
    }
  }

  .logos {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
/* */

@media screen and (max-width: 640px) {
  .products-grid {
    &__item {
      width: 100%;
      height: 150px;
      &.img {
        display: none;
      }
    }
    &__wrapper {
      .text-block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        &__title {
          text-align: center;
          font-size: 1em;
        }
      }
    }
  }
}
/* */

@media screen and (max-width: 576px) {
  // PROMOTION
  .promotion {
    height: 100%;
    padding: 1rem;

    &__wrapper {
      margin: 0;
      border-radius: 0;
    }
    &__title {
      font-size: 1.2em;
    }
    &__subtitle {
      font-size: 0.7em;
      line-height: 1.5em;
    }
  }

  // GRID
  .about-grid {
    &__row {
      grid-template-columns: 1fr;
      grid-template-rows: 250px;
    }
    &__row:nth-child(2n) {
      & div:first-child {
        order: 1;
      }
      & div:last-child {
        order: 2;
      }
    }
    &__item {
      height: 250px;
    }

    &__wrapper {
      .text-block {
        padding: 2rem 1rem;

        &__title {
          font-size: 1.2em;
        }
        &__subtitle {
          font-size: 0.8em;
        }
      }
    }
  }

  .contacts-list {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &__wrapper {
      //display: flex;
      flex-wrap: wrap;
      //justify-content: space-between;
    }
    h2 {
      margin: 0;
    }
    &__item {
      margin-top: 1rem;
      &:not(:first-child) {
        margin-left: 0;
      }

      h4 {
        margin-top: 0.5rem;
        font-size: 1.2em;
      }
      h5 {
        margin-top: 0.5rem;
      }
    }
  }
}
/* */

@media screen and (max-width: 480px) {
  .page-header {
    padding-top: 5rem;
    padding-bottom: 3rem;
    &__title {
      font-size: 1.5em;
    }
    &__subtitle {
      font-size: 0.9em;
    }
  }

  // HEADER
  .header {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
    &__contacts {
      display: none;
    }
  }

  //SLIDER
  .slider {
    padding: 2rem 5px;
    .card {
      grid-template-columns: 1fr;
      &__title {
        font-size: 1.5em;
      }
      &__subtitle {
        font-size: 0.8em;
      }
    }
  }

  // PROMOTION
  .promotion {
    height: 100%;
    padding: 10px;

    &__wrapper {
      margin: 0;
      padding: 15px;
      border-radius: 0;
    }
    &__title {
      font-size: 1em;
    }
    &__subtitle {
      font-size: 0.7em;
      line-height: 1.5em;
    }
  }

  // CALL ACTION
  .call-to-action {
    padding: 2rem;
  }

  // FOOTER
  .footer {
    &__grid {
      grid-template-columns: 1fr;
    }
    &__socials {
      justify-self: center;
    }
  }

  // ADV
  .advantages {
    &__wrapper {
      padding: 0 2rem;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
    &__title {
      height: auto;
    }
  }

  // GRID
  .about-grid {
    &__row {
      grid-template-columns: 1fr;
      grid-template-rows: 200px;
    }
    &__row:nth-child(2n) {
      & div:first-child {
        order: 1;
      }
      & div:last-child {
        order: 2;
      }
    }
    &__item {
      height: 100%;
    }
  }
}
/* */
